<div id="sst" class="tab-content" style="display: none;">
    <div class="sub-nav">
        <button class="sub-tab-link active" onclick="openSubTab(event, 'sst', 'atestados_inner')">🏥 Atestados</button>
    </div>

    <div id="atestados_inner" class="sub-tab-content">
        <%- include('atestados') %>
    </div>
</div>
